html {
  box-sizing: border-box;
  min-height: 100% !important;
}

.vq-row-option {
  margin-left: 4px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.vq-color-primary {
  color: #000639
}

body, #root > div {
  height: 100%;
  position: relative;
}

body {
  padding-bottom: 6rem;
  margin: 0;
  line-height: 1.5em;
  overflow-wrap: break-word;
}

#vq-footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 5rem;
  padding-bottom: 1rem;
  text-align: center;
}

p {
  overflow-wrap: break-word;
}

.vq-margin-top-bottom {
  margin-top: 15px
}

.vq-margin-top-xs {
  margin-top: 10px
}

.vq-no-padding {
  padding-left: 0;
  padding-right: 0;
}

.vq-margin-bottom-xs {
  margin-bottom: 10px
}

.vq-margin-padding-xs {
  margin-bottom: 10px
}

.vq-homepage .vq-intro {
  width: 100%;
  height: 640px;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

.with-pointer {
    cursor: pointer;
}

.vq-uppercase {
  text-transform: uppercase; 
}

.vq-bold {
  font-weight: 'bold' !important;
}

.vq-link {
  cursor: pointer !important;
  text-decoration: none !important;
}

.vq-link-secondary {
  color: 'black' !important;
  cursor: pointer !important;
}

.display-on-hover:hover {
  display: block !important;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.vq-account-sector-list {
  font-size: 15px;
}

.vq-account-sector-list > li {
  padding-top: 7px;
}

.vq-account-sector-list > li > a {
  margin-left: 10px;
  text-transform: capitalize;
  text-decoration: none;
  color: #484848;
}

.vq-account-sector-list > li.vq-account-sector-active {
  font-weight: bold;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.st-profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.app-shop-logo {
  width: 100px;
}

.responsive-img {
  height: 400px;

  }

.st-menu-group a {
  color: #ffab40 !important;
  text-transform: uppercase;
}

.st-menu-line h5 {
    fontSize: 1.64rem;
    line-height: 110%;
    margin: .82rem 0rem .656rem 0rem;
    text-transform: uppercase;
}

.vq-listings-intro {
    width: 100%;
    height: 170px;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}

.st-half-transparent {
    background: rgba(70, 72, 82, 0.5);
}

.st-dark-bg {
    background-color: #000;
    color: #546e7a;
}

 h1 {
        font-size: 24px;
        font-weight: 400px;
}

h2 {
        font-size: 23px;
        font-weight: 400;
}

h3 {
      font-size: 20px;
      font-weight: 400;
}
    
h4 {
    font-size: 19px;
    font-weight: 400;
}

.buttonColor {
  background-color : #26a69a !important;
}
.displayed {
  display: block;
  marginLeft: auto;
  marginRight: auto;
  height:70px;   
}
.crimg {
    height:188.69px; 
    width:351.06px;
}
.logos{
  height:40px; 
  width:172px;
  }
.inno{
height:40px; 
width:172px;
}
.sap  {
    height:39.98px; 
    width:66.84px;
  }
  .wall {
      height:39.98px; 
      width:66.84px;
  }
  .fzi{
      height:40px; 
      width:24px;
  }
  .menuIconStyle {
      display: none !important;
  }
  @media screen and (max-width: 767px) {
    .menuIconStyle {
        display: block !important;
    }
  }
  @media all and (max-width:767px) {
    .imgCenter {
      display:block;margin:0 auto;
    }
    .custom-xs-style {
      padding: 0 !important;
    }
  }
  /*@media only screen and (min-device-width: 679px) and (max-device-width: 767px) {
    .customMapIconStyle {
      max-width:6% !important;
    }
  }
  @media only screen and (min-device-width: 501px) and (max-device-width: 678px) {
    .customMapIconStyle {
      max-width:8% !important;
    }
  }
  @media only screen and (min-device-width: 300px) and (max-device-width: 500px) {
    .customMapIconStyle {
      max-width:14% !important;
    }
  }*/
  @media only screen and (min-width: 992px) and (max-width: 1024px){
    .col-md-1 {
        width: 16.333333% !important;
        max-width: 16.333333% !important;
     }
  }
  @media only screen and (min-width: 1025px){

  .col-md-1 {
    max-width: 11.333333% !important;
    width: 11.333333% !important;
}
}
  .st-nav  {
    position: relative ;
    height: 100%;
    background-color: #fff !important;
  }
.iconHeightAdjust {
  margin-top : 20px !important;
  padding-top: 20px !important;
  color : "red" !important;
}


.st-profile-dropzone  {
      width: 150px !important;
      height: 150px !important;
      border-color: rgb(255, 255, 255) !important;
   }



.dropzone.dz-clickable {
    cursor: pointer;
}

.dropzone {
    min-height: 150px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    background: white;
    padding: 20px 20px;
}

.dropzone, .dropzone * {
    box-sizing: border-box;
}

/** 
  Overwrites react-input-range
*/

.input-range__label--min {
  bottom: -3rem;
  position: absolute;
  display: none;
}

.input-range__label--max {
  bottom: 3rem;
  position: absolute;
  display: none;
}

.input-range__label {
  font-size: 1.5rem !important;
  display: none;
}

.input-range__label--max {
  bottom: -2.3rem !important;
  display: none;
}

.input-range__label--min {
  bottom: -2.3rem !important;
  display: none;
}

.input-range__label--value {
  top: 1.4rem !important;
}

.close-icon {
	border:1px solid transparent;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
  outline: 0;
  cursor: pointer;
}

.close-icon:after {
	content: "X";
	display: block;
	width: 30px;
	height: 30px;
	position: absolute;
	z-index:1;
  right: 18px;
	top: 20px;
	bottom: 0;
	margin: auto;
	padding: 2px;
	border-radius: 50%;
	text-align: center;
	color: black;
	font-weight: normal;
	font-size: 20px;
	cursor: pointer;
}

/**
  STRIPE ELEMENTS STYLES
*/
.vq-checkout.stripe-checkout {
  margin: 0 auto;
  max-width: 800px;
  box-sizing: border-box;
  padding: 0 5px;
}

form.vq-payment-form {
  margin-bottom: 5px;
}

.StripeElement {
  display: block;
  margin: 10px 0 20px 0;
  max-width: 500px;
  padding: 10px 14px;
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px, rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border-radius: 4px;
  background: white;
}
.StripeElement--focus {
  box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px, rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}
.StripeElement.PaymentRequestButton {
  padding: 0;
}

/**
  CSS overwrites to react-image-gallery
*/
.image-gallery .image-gallery-content .image-gallery-slide .image-gallery-image {
    max-height:50vh;
}
.image-gallery .image-gallery-content .image-gallery-slide .image-gallery-image img {
    max-height:100%;
    width: 100%;
    display: block;
}
.image-gallery.fullscreen-modal .image-gallery-content.fullscreen .image-gallery-slide .image-gallery-image {
    max-height:100vh !important;
}

.image-gallery.fullscreen-modal .image-gallery-content.fullscreen .image-gallery-slide .image-gallery-image img {
    max-width: 100%;
    max-height: 100%;
}